@font-face {
    font-family: BusinessHistory-Regular;
    src: url(fonts/Business-History/BusinessHistory-Regular.woff);
}

@font-face {
  font-family:"VG5000-Regular";
  src: url("../fonts/VG5000-Regular.woff");
}

body{
  overflow-x:hidden;
}

img{
  z-index: 300;
}
/*img:hover{
  width: 40%;
  z-index: 301;
  box-shadow: 80px 0 400px 400px #b6abc6; 
  margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;

}*/

.video{
  z-index: 20;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px transparent; 
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}

/* ************************************************ WORD GRID START ************************************************ */
.square-grid {
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;  
  text-align: justify;
  background-color: transparent;

}
.square-grid__cell {
  background-color: transparent;  
  overflow-x: hidden;
  position: relative;
  border-width:0.01vw;  
    border-style:solid;
    box-shadow: 1px 0  1px 1px #b6abc6;
    margin-left: 0.5%;
    margin-top: 0.5%;


}
.square-grid__content {
 /* left: 0;*/
  font-family: VG5000-Regular;
  position: absolute;
  top: 0;
  font-size:0.8vw;
  margin-right:1vw;
  margin-left:1%;
  color: transparent;
}
.square-grid__content:hover {
  left: 0;
  position: absolute;
  top: 0;
  font-size:1vw;
  margin-right:1vw;
  margin-left:1vw;
  color: black;
  font-family: VG5000-Regular;
  background-color: #ffff00;
}
.square-grid__cell:after {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}
.square-grid__cell--7 {
  flex-basis: 30%;
}
/* ************************************************ WORD LINKS START ************************************************ */
.wordLink{
  color:black/*#8080ff*/;
  font-size: 1.5vw;
  background-color: #ffff00 /*#fbff44*/;
  cursor: crosshair;
  font-family: VG5000-Regular;
}
.wordLink:hover{
  color: white;
  background-color: black;
  font-size: 1.5vw;
}
  
/*.draggable { width: 20%; height: auto; float: right;}
*/
/* ************************************************ HEADERS ************************************************ */
.headers{width: 100%; height: auto; margin-top: 5%; margin-left: 8%; z-index: 14;}
h1{font-size: 3vw; font-family: VG5000-Regular; color: #ff7200; word-spacing: 0.15vw; z-index: 14; height:auto;}
.header1{width:100%; height: auto; margin-top: 0%; margin-left: 3%; margin-right: 1%; float: left; z-index: 14; /*background-color: red;*/}
h2{ width: 100%; font-size: 4.5vw; font-family: VG5000-Regular; color: #ff7200; /*word-spacing: 0.15vw;*/ float: right; margin-right: 1%; margin-top: 0vw; text-align: right;z-index: 14;}
.header2{ height: auto; margin-top:-12.5%;  margin-right: 12%; float: right; z-index: 1; text-align: right;}
h3{font-size: 0.8vw; font-family: VG5000-Regular; color: #b6abc6; word-spacing: 0.15vw; /*box-shadow: 8px 0 10px 10px #b6abc6;*/ height:auto;}
.header3{width:100%; height: auto; margin-top: 0%; margin-left: 1%; margin-right: 1%; float: left; z-index: 14;}

.headersAbstract{width: 40%; height: auto; margin-left: 0%; z-index: 14;float: right;}
h6{font-size: 5vw; font-family: VG5000-Regular; color: white; word-spacing: 0.15vw; z-index: 14; height:auto; -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #ff7200; margin-top: 50%; margin-left: 0%;   }
h4{font-size: 3vw; font-family: VG5000-Regular; color: white; word-spacing: 0.15vw; z-index: 14; height:auto;}
.header4{width:20%; height: auto; margin-top: 0%; margin-left: 5%; margin-right: 1%; float: left; z-index: 14; /*background-color: red;*/}
h5{ width: 100%; font-size: 4.5vw; font-family: VG5000-Regular; color: white; /*word-spacing: 0.15vw;*/ float: right; margin-right: 0%; text-align: right;z-index: 14;}
.header5{ height: auto; margin-top:-10%;  margin-right: 5%; float: right; z-index: 1; text-align: right;}


/* ************************************************ BODY TEXT ************************************************ */
.draggable_text{height: auto; width: 90%; position: relative; z-index: 14; margin-top: -1%; margin-left: 8%; float:right; margin-bottom: -1%;}
.paragraph{margin-left:1%; text-align: justify; text-indent: 2.7vw; font-size: 1.3vw; font-family: VG5000-Regular; color: #ff7200 ; word-spacing: 0vw; /*letter-spacing: 0.01vw;*/ margin-right: 6%; line-height: 150%; word-break: keep-all; background-color: transparent;}
.abstract{
    width: 90%; margin-left:0; text-align: justify; text-indent: 3.7vw; font-size: 1.7vw; font-family: VG5000-Regular;  word-spacing: 0vw; color: transparent; /*letter-spacing: 0.01vw;*/ margin-top: -3%; margin-bottom:5%; margin-right: 2%; line-height: 150%; word-break: keep-all; float: right;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #ff7200;}
.colophon{margin-left:1%; text-align: justify; font-size: 0.8vw; font-family: VG5000-Regular; color: #b6abc6; word-spacing: 0vw; /*letter-spacing: 0.01vw;*/ margin-right: 2%; line-height: 150%; word-break: keep-all; background-color: transparent;}
.containerColophon{height: auto; width: 90%; position: relative; z-index: 0; margin-top: 0%; margin-left: 8%; margin-right: 4%;}

/*#b{ margin-top: 50%; margin-left: 40%;}
#c{ margin-top: 100%; margin-left: 40%;}
#d{ margin-top: 150%; margin-left: 50%;}*/

.highlighted {
  background-color: black;
  color: white;
}




/* ************************************************ WEBPAGE ************************************************ */
#webpage{
  width: 100%;
  height: auto;
  overflow-x: hidden;
/*  overflow-y: scroll;*/
  margin-top: 0%;
  /*margin-left: 0.5%;
  margin-right: 0.5%;*/
  margin-bottom: 0%;
  display: inline-block;
  box-shadow: 8px 0  80px 80px #b6abc6 /*#050dff*/; 
}

/* ************************************************ CONTAINER STYLES START ************************************************ */
#container1 {
width:50%; 
height: auto; 
margin-top: 1%; 
margin-right:0%; 
float:right; 
display:block; 
z-index:3; 
display: block;
}
#container2 {
width: 40%; 
height:auto; 
margin-top: 0%; 
margin-left: 5%; 
position: absolute; 
display: inline-block; 
float: left; 
overflow-x:scroll; 
overflow-y:scroll; 
box-shadow: 10px 0  100px 80px #b6abc6 /*#050dff*/; 
z-index:1;
background-color: transparent;
}

#container3 {
 width: 3%; 
 height: 100%;
 top:0;
 margin-top: 0%; 
 left:0;
 margin-left: 1%; 
 box-shadow: 10px 0 100px 10px #ededed;  
 z-index:1000; 
 position: fixed;
 
}
/*#container4{background-color:transparent; width: 30%; height:20%; margin-top: 45%; margin-left: 10%; position: fixed; display: inline-block; float: left; overflow-x:scroll; overflow-y:scroll; box-shadow: 2px 0 20px 10px #b6abc6; z-index: 13;}*/
/* ************************************************ CONTAINER STYLES END ************************************************ */

/* ************************************************ PAGES STYLES START ************************************************ */
#page4{ margin-top: 0.5%; background-color: transparent; height: auto; margin-right: 1%; display: inline-block;/*box-shadow: 8px 0 900px 5px #ededed;*/}
#page3{  margin-top: 0.5%; background-color: transparent; height: auto; margin-right: 1%; display: inline-block;/*box-shadow: 8px 0 900px 5px #ededed;*/}
#page2{  margin-top: 0.5%; background-color: transparent; height: auto; margin-right: 1%; display: inline-block;/*box-shadow: 8px 0 900px 5px #ededed;*/}
#page1{  margin-top: 0.5%; background-color: transparent; height: auto; margin-right: 1%; display: inline-block;/*width:50%;*//*box-shadow: 8px 0 900px 5px #ededed;*/}
#page0{  margin-top: -50%; margin-bottom: 5%; background-color: white; height: auto; margin-right: 1%; display: inline-block;}

/* ************************************************ PAGES STYLES END ************************************************ */
/* ************************************************ NAVIGATION START ************************************************ */
.navigation{
  font-family: VG5000-Regular;
  background-color:transparent;
color: #ff7200;
  font-size: 1vw;
  text-transform: lowercase;
  white-space: nowrap;
  height: auto;
  background-color: transparent;
  margin-left: -950%;
  margin-top: 1000%;
  width: auto; 
  transform:rotate(-90deg);
  display: inline-block;
}

 &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }

.navigationText{

  text-align: justify;
  word-spacing: 0.02vw;
  color: #ffff00;
}

a{text-decoration: none; color: #ff7200;/*color: #8080ff;*/}
a:hover{text-decoration: none; color: white; background-color: black  /*#b6abc6*/; }
/* ************************************************ NAVIGATION END ************************************************ */
/* ************************************************ REFERENCES START ************************************************ */
.draggable_references{
height: auto; width: auto; position: relative; z-index: 0; margin-top: 3%; float: left; margin-right: 25%; margin-bottom: 3%;   z-index: 14;
}
.references{
  width:100%;
  height: auto;
  color:/*#b6abc6*/#ff7200;
  font-family: VG5000-Regular;
  font-size:0.7vw;
  line-height: 2em;
  padding-top: 0.2%;
  padding-left: 0.2%;
  padding-right: 0.2%;
  padding-top: 0.2%;
  word-wrap: break-word;
  background-color: transparent;
  box-shadow: 0px 0px 30px 0px #ff7200 /*#050dff*/; 
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ MEDIA PRINT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media print{

@page
{
size: A4;
}

.header2
{

}


@font-face {
    font-family: BusinessHistory-Regular;
    src: url(fonts/Business-History/BusinessHistory-Regular.woff);
}

@font-face {
  font-family:"VG5000-Regular";
  src: url("../fonts/VG5000-Regular.woff");
}

img{
  z-index: 30;
}
img:hover{
  width: 42% !important;
  z-index: 301;
  box-shadow: 8px 0 400px 400px white /*#050dff*/; 
}


.video{
  z-index: 20;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px transparent; 
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}

/* ************************************************ WORD GRID START ************************************************ */
.square-grid {
  width: 100%;
  float: right; 
  margin-right: 0%;
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: transparent;
  margin-left: 10%;
}
.square-grid__cell {
  background-color: transparent;  
  overflow: hidden;
  position: relative;
  
   /* box-shadow: 1px 0  1px 1px #b6abc6*/
}
.square-grid__content {
  left: 0;
  font-family: VG5000-Regular;
  position: absolute;
  top: 0;
  font-size:1vw;
  margin-right:1vw;
  margin-left:1vw;
  color: #404040;
}

.square-grid__cell:after {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}
.square-grid__cell--7 {
  flex-basis: 30%;
}

/* ************************************************ WORD LINKS START ************************************************ */
.wordLink{
  color:white;
  font-size: 1.5vw;
  background-color: black;
  font-family: VG5000-Regular;
}




.draggable { width: 20%; height: auto;}

/* ************************************************ HEADERS ************************************************ */
.headers{width: 100%; height: auto; margin-top: 5%; margin-left: 8%; z-index: 14;}
h1{font-size: 3vw; font-family: VG5000-Regular; color: white; -webkit-text-stroke-width: 0.01px; -webkit-text-stroke-color: #C0C0C0; word-spacing: 0.15vw; z-index: 900; height:auto;}
.header1{width:100%; height: auto; margin-top: 0%; margin-left: 0%; margin-right: 1%; float: left; z-index: 14; /*background-color: red;*/}
h2{ width: 100%; font-size: 4.5vw; font-family: VG5000-Regular; color: white; -webkit-text-stroke-width: 0.01px; -webkit-text-stroke-color: #C0C0C0; /*word-spacing: 0.15vw;*/ float: right; margin-right: 1%; margin-top: 0vw; text-align: right;z-index: 14;}
.header2{ height: auto; margin-top:-12.5%;  margin-right: 10%; float: right; z-index: 1; text-align: right;}
h3{font-size: 0.8vw; font-family: VG5000-Regular; color: black; word-spacing: 0.15vw; /*box-shadow: 8px 0 10px 10px #b6abc6;*/ height:auto;}
.header3{width:100%; height: auto; margin-top: 0%; margin-left: 1%; margin-right: 1%; float: left; z-index: 14;}

.headersAbstract{width: 40%; height: auto; margin-top: 0%; margin-right: 0.5%; z-index: 14;float: right;}
h4{font-size: 3vw; font-family: VG5000-Regular; color: black; -webkit-text-stroke-width: 0.01px; -webkit-text-stroke-color: white; word-spacing: 0.15vw; z-index: 14; height:auto;}
.header4{width:20%; height: auto; margin-top: 0%; margin-left: 5%; margin-right: 1%; float: left; z-index: 14; /*background-color: red;*/}
h5{ width: 100%; font-size: 4.5vw; font-family: VG5000-Regular; color: black; -webkit-text-stroke-width: 0.01px; -webkit-text-stroke-color: white; /*word-spacing: 0.15vw;*/ float: right; margin-right: 0%; text-align: right;z-index: 14;}
.header5{ height: auto; margin-top:-10%;  margin-right: 5%; float: right; z-index: 1; text-align: right;}

/* ************************************************ BODY TEXT ************************************************ */
.draggable_text{height: auto; width: 90%; position: relative; z-index: 14; margin-top: -1%; margin-left: 8%; float:right; margin-bottom: -1%;}
.paragraph{margin-left:2%; text-align: justify; text-indent: 2.7vw; font-size: 1.5vw; font-family: VG5000-Regular; color: #C0C0C0; word-spacing: 0vw; margin-right: 1%; line-height: 150%; word-break: keep-all; z-index: 900;}
.abstract{width:30%; margin-left:27%; text-align: justify; text-indent: 2.7vw; font-size: 0.7vw; font-family: VG5000-Regular; color: #FFFFFF; word-spacing: 0vw; /*letter-spacing: 0.01vw;*/ margin-top: 0%; margin-bottom:15%; margin-right: 3%; line-height: 150%; word-break: keep-all; float: right;}
.colophon{margin-left:1%; text-align: justify; font-size: 0.8vw; font-family: VG5000-Regular; color: #b6abc6; word-spacing: 0vw; /*letter-spacing: 0.01vw;*/ margin-right: 2%; line-height: 150%; word-break: keep-all; background-color: transparent;}
.containerColophon{height: auto; width: 90%; position: relative; z-index: 0; margin-top: 0%; margin-left: 8%; margin-right: 4%;}

/*#b{ margin-top: 50%; margin-left: 40%;}
#c{ margin-top: 100%; margin-left: 40%;}
#d{ margin-top: 150%; margin-left: 50%;}*/

.highlighted {
  background-color: black;
  color: white;
}

/* ************************************************ WEBPAGE ************************************************ */
#webpage{
  width: 100%;
  height: auto;
  overflow-x: hidden;
/*  overflow-y: scroll;*/
  margin-top: 0%;
  /*margin-left: 0.5%;
  margin-right: 0.5%;*/
  margin-bottom: 0%;
  display: inline-block;
  box-shadow: 8px 0  80px 80px #A9A9A9 /*#050dff*/; 
}

/* ************************************************ CONTAINER STYLES START ************************************************ */
#container1 {
width:48%; 
height: auto; 
margin-top: 1%; 
margin-right:2%; 
float:right; 
display:block; 
z-index:3; 
display: block;
/*box-shadow: 8px 0  110px 110px #C0C0C0;*/
}
#container2 {
width: 10%; 
height:auto; 
margin-top: 0%; 
margin-left: 120%; 
position: absolute; 
display: inline-block; 
float: left; 
overflow-x:scroll; 
overflow-y:scroll; 
box-shadow: 0px 0px  100px 90px   black/*#303030*/; 
z-index:1;
box-shadow: inset 0px 0px 10px black;
/*width: 10%; height:100%; margin-top: 0%; float: left; background-color: green; margin-left: 11%; z-index: 2;*/
}
#container3 {
 width: 3%; 
 height: 100%;
 top:0;
 margin-top: 0%; 
 left:0;
 margin-left: 1%; 
 box-shadow: 10px 0 150px 60px  #A0A0A0;  
 z-index:1000; 
 position: fixed;
 
}
/*#container4{background-color:transparent; width: 30%; height:20%; margin-top: 45%; margin-left: 10%; position: fixed; display: inline-block; float: left; overflow-x:scroll; overflow-y:scroll; box-shadow: 2px 0 20px 10px #b6abc6; z-index: 13;}*/
/* ************************************************ CONTAINER STYLES END ************************************************ */

/* ************************************************ PAGES STYLES START ************************************************ */
#page4{ margin-top: 0.5%; background-color: white; height: auto; margin-right: 1%; display: inline-block;/*box-shadow: 8px 0 900px 5px #ededed;*/}
#page3{  margin-top: 0.5%; background-color: white; height: auto; margin-right: 1%; display: inline-block;/*box-shadow: 8px 0 900px 5px #ededed;*/}
#page2{  margin-top: 0.5%; background-color: white; height: auto; margin-right: 1%; display: inline-block;/*box-shadow: 8px 0 900px 5px #ededed;*/}
#page1{  margin-top: 0.5%; background-color: white; height: auto; margin-right: 1%; display: inline-block;/*width:50%;*//*box-shadow: 8px 0 900px 5px #ededed;*/}
#page0{  page-break-after: always; z-index: 900; margin-top: 0.5%; margin-bottom: 10%; background-color: black; height: auto; margin-right: 1%; display: inline-block; box-shadow: 8px 0  110px 150px black/*#A0A0A0*/;}

/* ************************************************ PAGES STYLES END ************************************************ */
/* ************************************************ NAVIGATION START ************************************************ */
.navigation{
  font-family: VG5000-Regular;
  height: auto;
  background-color:transparent;
  font-size: 1vw;
  /*white-space: normal;*/
  margin-left: 40%;
  margin-bottom: 0%;
  margin-top: 1950%;
  background-color: transparent;
  width: 0.7%; 
  transform:rotate(-90deg);
  display: inline-block;
  text-transform: lowercase;
  white-space: nowrap;
  text-align: center;

}

 &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }

a{text-decoration: none; color: #FFFFFF;/*color: #8080ff;*/}
/* ************************************************ NAVIGATION END ************************************************ */
/* ************************************************ REFERENCES START ************************************************ */
.draggable_references{
height: auto; 
width: 75%; 
position: relative; 
margin-top: 3%;
margin-right: 2%; 
margin-bottom: 3%;  
float: right;   
z-index: 14;
}
.references{
  width:100%;
  height: auto;
  color:/*#b6abc6*/#C0C0C0;
  font-family: VG5000-Regular;
  font-size:1vw;
  line-height: 2em;
  padding-top: 0.2%;
  padding-left: 0.2%;
  padding-right: 0.2%;
  padding-top: 0.2%;
  word-wrap: break-word;
  background-color: transparent;
  box-shadow: 0px 0px 30px 0px  #C0C0C0/*#050dff*/; 

 
  /*padding-left:1%;*/
}
/* ************************************************ REFERENCES END ************************************************ */



}


.marquee {
 height: 5vw;  
 overflow: hidden;
 position: relative;
 background: #ffff00;
 border: 0.002vw solid black;
}
.marquee p {
font-family: VG5000-Regular;
white-space: nowrap;
color: #C0C0C0;
font-size: 2vw;
 position: absolute;
 /*width: 100%;*/
 height: 100%;
 margin-top: 1%;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 5s linear infinite;
 -webkit-animation: scroll-left 5s linear infinite;
 animation: scroll-left 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}


